body{
  margin: 0px 0px;
  background: gray;
}

.logo{
  width: 60px;
}

.topnav{
  background-color: white;
  text-decoration: none;
  width: 100%;
  height: 100px;
  padding: 10px 10px;
}

.topnav img{
align-items: center;
}

.donatebutton{
  padding: 10px 15px;
background-color: #1492F0;
border: none;
border-radius: 500px;
cursor: pointer;
color: white;
transition: all 0.3 ease 0s;
z-index: 1;
outline: none;
}

.donatebutton:hover{
  color: white;
  background-color: #005df2;
  outline: none;
}
