body{
  margin: 0;
}
.ministerios-sign{
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;

}

.ministerios {
  align-items: center;
  display: underline;
  background-color: red;
  margin-bottom: 100px;
}


.ministerios-cover-kids {
  background-color: gray;
  padding: 10px 10px;
  width: 300px;
  height: 240px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
}

.ministerios-cover-alabanza {
  background-color: gray;
  padding: 10px 10px;
  width: 300px;
  height: 240px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
  position: 100px 100px;
}

.ministerios-cover-finanzas {
  background-color: gray;
  padding: 10px 10px;
  width: 300px;
  height: 240px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
}
.ministerios-cover: hover{
color: black;

}
